.loadBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  margin: 40px;
  width: 120px;
  height: 35px;
  transition: 0.2s;
  text-align: center;
  background-color: rgb(170, 213, 242);
}

.loadBtn:hover {
  outline: none;
  box-shadow: 0 0 0 2px #646cff;
}
